services:
  mulearn-scheduler-service:
    container_name: mulearn-scheduler-service
    image: mulearn-scheduler-service
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
